

.mainField{
    background-color: #FEF8F0;

}
h1{
    text-align:center;
}
h3{
    padding-top: 1% ;
    padding-left: 5% ;

}

.btn-primary{
    margin-left: 5%;
    margin-bottom: 1%;

}
.input-group{
    padding-left: 5%;
    padding-right: 5%;
}
.todoTask{
    display: flex;
    /*background-color: red;*/
    padding-top: 1% ;
    padding-left: 1.5%;
    padding-right: 5%;
    margin-left: 5%;
    justify-content:space-between ;

}
